<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
 
    <!-- 配置SecurityManager对象(shiro框架核心)
    缓存管理器实现,不用每次登陆都到数据库中查
    rememberMeManager实现记住我-->
    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="Realm" ref="shiroUserRealm"/>
        <property name="CacheManager" ref="cacheManager"/>
        <property name="RememberMeManager" ref="rememberMeManager"/>
        <property name="SessionManager" ref="sessionManager"/>
    </bean>
    <!--配置缓存bean对象-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <!-- 配置ShiroFilterFactoryBean对象
    配置中第二个property表示为shiroFilterFactorybean的LoginUrl属性注入值.
    退出的配置,会自动跳转登录的页面-->
    <bean id="shiroFilterFactory"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
          <property name="SecurityManager" ref="securityManager"/>
          <property name="LoginUrl" value="/doLoginUI.do"/>
          <property name="FilterChainDefinitionMap">
               <map>
                 <entry key="/bower_components/**" value="anon"/>
                 <entry key="/build/**" value="anon"/>
                 <entry key="/dist/**" value="anon"/>
                 <entry key="/plugins/**" value="anon"/>
                 <entry key="/user/doLogin.do" value="anon"/>
                 <entry key="/doLogout.do" value="logout"/>
                   <!-- 除了上面的资源,其它的路径都要进行认证 <entry key="/**" value="authc"/>-->
                   <entry key="/**" value="user"/>
                   <!--authc 必须认证,假如添加了记住我功能以后需要设置为user -->
               </map>
          </property>
    </bean>

    <!--授权时地配置-->
    <!-- 配置bean对象的生命周期管理 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor">
    </bean>

    <!-- 通过此配置要为目标业务对象创建代理对象-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
    </bean>

    <!-- 授权属性的Advisor配置-->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="SecurityManager" ref="securityManager"/>
    </bean>
    <!--实现记住我时,添加Cookie,在securityManager中作为属性注入-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <!-- 7天,采用spring el表达式来计算，方便修改 -->
        <property name="maxAge" value="#{7 * 24 * 60 * 60}"/>
    </bean>
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>
    <!--会话时长设置,需要将它注入到securityManager-->
    <!-- shiro结合Session会话管理器 start -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- session的失效时长，单位毫秒 1小时: 3600000, itzixi站点设置以 6小时 为主：21600000 -->
        <!-- 设置全局会话超时时间，默认30分钟，即如果30分钟内没有访问会话将过期 1800000 -->
        <property name="globalSessionTimeout" value="21600000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 是否开启会话验证器，默认是开启的 -->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
    </bean>
</beans>









