<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
 
    <!-- 配置SecurityManager对象(shiro框架核心) -->
    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
          <property name="Realm" ref="shiroUserRealm"/>
    </bean>
    <!-- 配置ShiroFilterFactoryBean对象
    配置中第二个property表示为shiroFilterFactorybean的LoginUrl属性注入值.
    <entry key="/doLogout.do" value="logout"/>退出的配置,会自动跳转登录的页面-->
    <bean id="shiroFilterFactory"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
          <property name="SecurityManager" ref="securityManager"/>
          <property name="LoginUrl" value="/doLoginUI.do"/>
          <property name="FilterChainDefinitionMap">
               <map>
                 <entry key="/bower_components/**" value="anon"/>
                 <entry key="/build/**" value="anon"/>
                 <entry key="/dist/**" value="anon"/>
                 <entry key="/plugins/**" value="anon"/>
                 <entry key="/user/doLogin.do" value="anon"/>
                 <entry key="/doLogout.do" value="logout"/>
                 <entry key="/**" value="authc"/>
               </map>
          </property>
    </bean>
           
</beans>









